///* 改变主题色变量 */
$color-primary:#f9f9f9;
///* 改变 icon 字体路径变量，必需 */
//$--font-path:'~element-ui/lib/theme-chalk/fonts';
//@import "~element-ui/packages/theme-chalk/src/index";
// .el-submenu{ width:199px !important; }
.fc_blue{color:#409eff;}
.el-submenu.is-opened>ul{ overflow:hidden; }
.el-submenu.is-opened>ul li{ background:#222 !important; }
.el-submenu.is-opened>ul li.el-menu-item.is-active{color:#fff !important;background-color: #409eff !important;}
.el-submenu__title>span{ font:14px "微软雅黑"; letter-spacing:1px; }
.el-submenu__title>i{ font-size:16px; z-index:10; }
.el-submenu__title>i:nth-of-type(1){ color:#fff; }
.el-submenu.item .el-submenu__title{ text-align:left; }
.box-card{ margin-bottom:20px !important; padding-bottom:30px; }
// .el-dialog .el-input{ width:220px; }
.el-dialog .el-dialog__headerbtn{ font-size:24px; padding:10px; top:3px; right:10px; }  // 右上角X
.el-dialog .el-dialog__header{ background:$color-primary; color:#fff; padding:15px 0 15px 25px; text-align:left; }
.el-dialog .el-dialog__header span{ font:16px "微软雅黑"; color: #333; }
.el-dialog .el-dialog__title{ color:#fff; }
.el-checkbox__input.is-disabled input[type=checkbox]{ border-radius:100% !important; background:red; }
.el-carousel__container{ height:100% !important; }
.el-input-group__prepend{ width:40px; height:45px; padding:0 13px !important; box-sizing:border-box; }
.el-input.el-input-group.el-input-group--prepend input{ height:45px; box-sizing:border-box; }
.el-tabs__nav-wrap::after{height: 1px !important;}
.has-gutter th{ background:#f9f9f9 !important; }
.editwordSty {
    color: #409eff;
    margin-right: 10px;
    cursor: pointer;
    vertical-align: middle;
  }
#fkRule{
    .el-select-dropdown__item{
        height: auto !important;
        line-height: auto !important;
    }
    .el-input--prefix .el-input__inner{
        padding-left: 50px;
        height: 50px;
        line-height: 50px;
    }
    .el-form--inline .el-form-item__label{
        line-height: 50px;
    }
    .el-form-item__content{
        line-height: 50px;
    }
    .el-select-dropdown{
        
        left: 0 !important;
    }
}